@media screen and (max-width: 569px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 570px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 680px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 920px) {
  html {
    font-size: 16px;
  }
}

h6,
.h6 {
  font-family: $font-family-sans-serif;
}

time.updated {
  color: $gray-600;
}

.entry-meta-horizontal time.updated {
  border-left: 1px solid $gray-600;
  padding-left: map-get($spacers, 2);
}

.entry-title a {
  color: black;
}

.carousel-title a {
  color: white;
}

blockquote {
  @extend .blockquote;
  border-left: 6px solid black;
  font-style: italic;
  margin: 2rem 0;
  padding-left: map-get($spacers, 3);
}
