.btn {
  font-family: $font-family-sans-serif;
}

.alm-btn-wrap {
  text-align: center;
  padding: 10px 0 25px;
}

.alm-btn-wrap .alm-load-more-btn {
  @extend .btn;
  @extend .btn-outline-primary;
}

.alm-btn-wrap .alm-load-more-btn.loading {
  position: relative;
  padding-left: 40px;
}

.alm-btn-wrap .alm-load-more-btn.loading:before {
  background: #fff url(../images/ajax-loader.gif) no-repeat center center;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 2px;
  display: inline-block;
  z-index: 0;
  content: '';
  position: absolute;
  left: 4px;
  top: 0;
  overflow: hidden;
  -webkit-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}

.alm-btn-wrap .alm-load-more-btn:hover {
  background-color: white;
  color: $red;
}

.alm-btn-wrap .alm-load-more-btn.done {
  display: none;
}

/*
 * Single Post Sharing Buttons
 */

.sharing-buttons {
  display: none;
  position: fixed;
  top: auto;
  right: 2rem;
  bottom: 5.5rem;
  z-index: 9;

  .facebook-share-icon {
    border-color: #6182c2;
    background-color: #6182c2;
  }

  .twitter-share-icon {
    border-color: #4abeed;
    background-color: #4abeed;
  }

  .linkedin-share-icon {
    border-color: #2f98cd;
    background-color: #2f98cd;
  }

  .google-plus-share-icon {
    border-color: #e32e39;
    background-color: #e32e39;
  }

  .envelope-share-icon {
    border-color: #b85436;
    background-color: #b85436;
  }

  .print-share-icon {
    border-color: #666666;
    background-color: #666666;
  }

  @include media-breakpoint-up(lg) {
    top: map-get($spacers, 5) * 2;
    display: block;
    position: sticky;

    .fa-facebook {
      color: #6182c2;
    }

    .facebook-share-icon {
      background-color: white;
    }

    .fa-twitter {
      color: #4abeed;
    }

    .twitter-share-icon {
      background-color: white;
    }

    .fa-linkedin {
      color: #2f98cd;
    }

    .linkedin-share-icon {
      background-color: white;
    }

    .fa-google-plus {
      color: #e32e39;
    }

    .google-plus-share-icon {
      background-color: white;
    }

    .fa-envelope {
      color: #b85436;
    }

    .envelope-share-icon {
      background-color: white;
    }

    .fa-print {
      color: #666666;
    }

    .print-share-icon {
      background-color: white;
    }
  }
}

.sharing-buttons li {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.sharing-buttons li + li {
  margin-top: 0.5rem;
}

.sharing-buttons a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}

.mobile-share-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 52px;
  height: 52px;
  padding: 17px;
  border-radius: 100%;
  background-color: theme-color("primary");
  color: $white;
  z-index: 9;
}

.mobile-share-icons--active {
  display: block;
}

.footer-social {
  text-align: center;

  ul {
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);

    a {
      position: relative;
      display: inline-block;
      border: 1px solid white;
      border-radius: 100%;
      width: 34px;
      height: 34px;
      text-align: center;
    }
  }

  .fa {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
