.carousel-item {
  max-height: 563px;
  overflow: hidden;
}

.carousel-inner picture::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 30%);
  z-index: 1;
}
