// Search form
.search-form {
  margin-top: map-get($spacers, 5);
  @extend .form-inline;

  @include media-breakpoint-down(sm) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.search-form label {
  font-weight: normal;
  width: 75%;
  margin-bottom: 0;
  @extend .form-group;
}
.search-form .search-field {
  width: 90%;
  @extend .form-control;
}
.search-form .search-submit {
  width: 25%;
  @extend .btn;
  @extend .btn-outline-primary;
}
