// Grid system
.regular-grid .main {
  @include make-col-ready();
  @include make-col($main-sm-columns);
  padding-right: 0;
  padding-left: 0;
  min-height: 500px;
}

.regular-grid.sidebar-primary .main {
  @include media-breakpoint-up(lg) {
    @include make-col($main-sm-columns - $sidebar-sm-columns);
  }
}

.regular-grid .sidebar {
  @include make-col-ready();
  display: none;
  @include media-breakpoint-up(lg) {
    @include make-col($sidebar-sm-columns);
    display: block;
  }
}
