.primary-navigation .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ce370e' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.admin-bar .primary-navigation.fixed-top {
  top: 32px;
}

@media screen and (max-width: 782px) {
  .admin-bar .primary-navigation.fixed-top {
    top: 46px;
  }
}

@media screen and (max-width: 600px) {
  .admin-bar .primary-navigation.fixed-top {
    top: 0;
  }
}

.primary-navigation,
.secondary-navigation {
  background-color: white;
  align-items: center;
}

.primary-navigation .navbar-brand,
.secondary-navigation span {
  padding-left: map-get($spacers, 2);
}

.primary-navigation .nav-link,
.secondary-navigation span,
.secondary-navigation .nav-link {
  font-family: $font-family-sans-serif;
}

.secondary-navigation {
  border-bottom: 1px solid $gray-400;
  padding-top: 0;
  padding-bottom: 0;

  @include media-breakpoint-down(md) {
    display: none;
    padding-top: map-get($spacers, 2);
    padding-bottom: map-get($spacers, 2);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#868e96' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
  }

  .secondary-navigation-time {
    margin-right: $navbar-padding-x;
  }
}

.secondary-navigation span,
.secondary-navigation .nav-link {
  font-size: 0.8rem;
  color: $gray-600;
}

.secondary-navigation .nav-item {
  border-left: 1px solid $gray-400;

  @include media-breakpoint-down(md) {
    border-left: none;
  }
}

.fa.nav-link {
  font-family: FontAwesome;
  color: $red;
}
