/*
 * Sitewide
 */

address {
  margin-bottom: 0;
}

iframe {
  border: none;
  overflow: hidden;
}

/*
 * Helper Classes
 */

.subtitle {
  @include subtitle();
}

.category-label {
  display: inline-block;
  background-color: theme-color("primary");
  padding: $spacer/2 $spacer;
  color: $white;
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  margin-bottom: map-get($spacers, 3);
}
