body > footer {
  background-color: theme-color("primary");
  color: white;
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 5);
}

body > footer .widget {
  @include make-col-ready();
  @include make-col(3);
  @include media-breakpoint-down(sm) {
    @include make-col(6);
  }
}

body > footer .widget h3 {
  border-bottom-color: white;
}

body > footer .widget li a {
  color: white;
}

body > footer .widget + .widget {
  margin-top: 0;
}
