/*
 * Global
 */

header .vcard {
  display: inline-block;
}

/*
 * Single Post Heading
 */

.single .entry-header {
  text-align: center;
}

.entry-header .author,
.entry-header time,
figcaption {
  @include subtitle();
}
