.page-header {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 5);

  @include media-breakpoint-down(md) {
    margin-top: 57px;
  }
}

.category .page-header,
.search .page-header {
  text-align: center;
}

/*
 * Front Page
 */

.border-bottom {
  border-bottom: 1px solid $gray-400;
  margin-bottom: map-get($spacers, 3);
}

.top-sections {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 2);
}

.top-sections .post-large {
  @include make-col-ready();

  @include make-col(12);

  @include media-breakpoint-up(md) {
   @include make-col(6);
   margin-top: map-get($spacers, 0);
   margin-bottom: map-get($spacers, 0);
  }

  margin-top: map-get($spacers, 2);
  margin-bottom: map-get($spacers, 2);
}

.top-sections .post-large .entry-title {
  padding-top: map-get($spacers, 3);
}

.top-sections .section-small {
  @include make-col-ready();

  @include make-col(12);

  @include media-breakpoint-up(md) {
    @include make-col(6);
  }

  padding-bottom: map-get($spacers, 3);
}

.top-sections .post-small {
  @include make-col-ready();
  @include make-col(12);
  margin-bottom: map-get($spacers, 3);

  @include media-breakpoint-up(lg) {
    @include make-col(6);
    margin-bottom: map-get($spacers, 0);
    margin-top: map-get($spacers, 0);
  }
}

.top-sections .post-small .post-image-container {
  @include make-col-ready();

  @include make-col(5);

  @include media-breakpoint-up(lg) {
    @include make-col(12);
    margin-bottom: map-get($spacers, 2);
  }
}

.top-sections .post-small .entry-title {
  margin-top: map-get($spacers, 0);
}

.top-sections .post-small .entry-meta {
  @include make-col-ready();

  @include make-col(7);

  @include media-breakpoint-up(lg) {
    @include make-col(12);
  }
}

.top-sections .post-small .entry-info time {
  display: block;
  margin-bottom: map-get($spacers, 3);
}

/*
 * Author Page
 */
.author-page-title {
  display: inline-block;
}

/*
 * Category Page
 */

.archive header + .wrap {
  @include media-breakpoint-down(md) {
    margin-top: 0;
  }
}

/*
 * Team Page
 */

.page-template-template-team .modal-body img {
  width: 120px;
  height: 120px;
}
