.alm-previous-post + .alm-previous-post {
  padding-top: map-get($spacers, 5);
}

.single-post header figure {
  width: 100%;
  max-height: 563px;
  overflow: hidden;
}

.single-post article {
  .entry-wrap {
    @include make-col-ready();
    @include make-col(12);
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
  }

  .sidebar {
    @include make-col-ready();
    display: none;
    @include media-breakpoint-up(lg) {
      @include make-col(3);
      display: block;
    }
  }
}

.entry-meta-horizontal .vcard {
  padding-right: map-get($spacers, 2);
}

.entry-content {
  padding-bottom: map-get($spacers, 5);
}

.entry-content figure,
.entry-content img {
  max-width: 100%;
}

.entry-content iframe {
  max-width: 100% !important;
}

.post footer section {
  @include subtitle();
}

.entry-author-info {
  border-bottom: 1px solid $gray-400;
  border-top: 1px solid $gray-400;
  padding-top: map-get($spacers, 3);
  margin-bottom: map-get($spacers, 3);
}

.post-category-list a {
  display: inline-block;
  background-color: theme-color('primary');
  color: $white;
  font-family: $font-family-sans-serif;
  padding: $spacer / 2 $spacer;
  text-transform: uppercase;
  margin-bottom: map-get($spacers, 1);
}

.dataviz > * {
  margin: 0 auto map-get($spacers, 3) auto;
}

.dataviz {
  display: none;
}

.dataviz-desktop-tablet-mobile {
  display: block;
}

.dataviz-desktop {
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.dataviz-desktop-tablet {
  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.dataviz-tablet {
  @include media-breakpoint-between(sm, md) {
    display: block;
  }
}

.dataviz-tablet-mobile {
  @include media-breakpoint-down(md) {
    display: block;
  }
}

.dataviz-mobile {
  @include media-breakpoint-down(xs) {
    display: block;
  }
}
