.widget + .widget {
  margin-top: map-get($spacers, 4);
}

.widget h3 {
  font-size: $h5-font-size;
  font-family: $font-family-sans-serif;
  padding-bottom: map-get($spacers, 2);
  border-bottom: 1px solid $gray-400;
}

.widget h3 a {
  font-size: $h6-font-size;
}

.widget li a {
  color: $gray-600;
}

.widget ul {
  padding-left: 0;
  list-style-position: inside;
}
