.related-post {
  margin-bottom: map-get($spacers, 3);
}

.related-post img {
  margin-bottom: map-get($spacers, 2);
}

.related-post .entry-title {
  color: $gray-600;
  font-family: $font-family-base;
  margin-bottom: 0;
}
