.wtpsw-post-li {
  border-bottom: none;
  list-style: unset !important;
}

.wtpsw-post-thumb-right {
  display: inline-block;
  width: 80%;
}

.wtpsw-post-thumb-right h6 {
  margin-bottom: 0 !important;
}

.wtpsw-post-thumb-right h6 a.wtpsw-post-title {
  color: $gray-600;
  font-family: $font-family-base;
}

.wtpsw-post-stats {
  display: none;
}

.wtpsw-date-post {
  @include subtitle();
  color: $gray-600;
}
